.spinnerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(36, 36, 36, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  animation: pulse 2s infinite ease-in-out;
}

.circle {
  position: absolute;
  width: 38px;
  height: 38px;
  background: var(--color-brand--1);
  border-radius: 50%;
  animation: scale 1.5s infinite ease-in-out;
}

.circle:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
  background: var(--color-brand--1);
}

.circle:nth-child(2) {
  top: 0;
  right: 0;
  animation-delay: 0.4s;
  background: var(--color-brand--2);
}

.circle:nth-child(3) {
  bottom: 0;
  left: 0;
  animation-delay: 1.2s;
  background: var(--color-brand--2);
}

.circle:nth-child(4) {
  bottom: 0;
  right: 0;
  animation-delay: 0.8s;
  background: var(--color-brand--1);
}

@keyframes scale {
  0%, 100% {
    transform: scale(0.6);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.1);
  }
}

